# Prerequisites
*.d

# seung
*.vc
*.VC.db
Release/
Debug/
CMakeLists.txt.user
ORBvoc.txt
ORBvoc.txt.tar
eigen*/
*.zip
build/
build_/
bin/
CMakeFiles/
*.bak 
 
Thumbs.db

out/
*.pdb
*.VC.db
.vs/
*.opendb
*.obj
*~
lib/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
